################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOPFolio/obj/Debug
/MOPFolio/bin
